.git2gus/**
.github/**
.gitignore
.idea/**
.nyc_output/**
.sfdx
.vscode/**
CODEOWNERS
coverage/**
end-to-end/**
esbuild.js
github-actions/**
node_modules/**
out/**
!out/extension.js
scripts/**
src/**
templates/**
test/**
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
**/jest.config.mjs
