.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
CODEOWNERS
code-fixtures/**
coverage/**
github-actions/**
templates/**
.git2gus/**
.github/**
out/**
node_modules/
